<div class="banner-margin"></div>
<!-- Show Series -->
<!-- Edit Option / Delete Option / Url link formation -->
<admin-control model="Series" object-name="Series" default-object="{
                ID: 0,
                Name: '',
                About: '',
                By: 1,
                Art: '',
                SmallArt: '',
                Status: false
            }"></admin-control>
<!-- Show Sermons -->
<!-- Edit Option / Delete Option / Url link formation -->
<admin-control model="Sermons" object-name="Sermons" default-object="{
                ID: 0,
                Name: '',
                About: '',
                By: 1,
                Art: '',
                SmallArt: '',
                Status: false,
               SeriesID:0,
               Audio:'',
               On:''
            }"></admin-control>
<!-- Show Speakers -->
<!-- Edit Option / Delete Option / Url link formation -->
<admin-control model="Speakers" object-name="Speakers" default-object="{
                ID: 0,
                Name: ''
            }"></admin-control>

<admin-control model="Pages" object-name="Pages" default-object="{
                Name: '',
               isLive:false,
               Title:'',
               url:'Common',
               bgImage:'',
               bgPos:'',
               content:'',
               parent:''
            }"></admin-control>

<admin-control model="Slides" object-name="Slides" default-object="{
                Name: '',
               isLive:false,
               Title:'',
               bgImage:''
            }"></admin-control>
