<div id="bg" data-ng-style="{'background-image': 'url(' + bg.bgImage + ')'}"></div>
<!--<ul class="cb-slideshow">
    <li ng-show="bg.showing" data-ng-repeat="bg in slides"><span>{{bg.Name}}</span><div><h3>{{bg.Title}}</h3></div></li>
</ul>
<script type="text/javascript">
    $(function ()
    {
        console.log($('.cb-slideshow'));
    })
</script>-->
<div class="shortcut-wrapper">
    <div class="lg-text home-title">{{bg.Title}}</div>
    <div class="lg-btn lg-btn-lt"><a href="/archive">Sermon Archive</a></div>
    <div class="lg-btn lg-btn-trans"><a href="/learn-more">Learn More</a></div>
</div>
