<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>-->
    <div id="content-wrap" data-ng-cloak="">
        <div class="banner_wrap">
            <div class="bg" data-ng-style="{'background-image': 'url(' + serie.Art + ')'}">
                <div class="slider_content">
                </div>
            </div>
        </div>
        <div class="banner-margin"></div>
        <div class="main_content">
            <br />
            <div class="lg-text">Series : {{serie.Name}}</div>
            <br />
            <div class="content" data-ng-bind-html="seriesDescription">
            </div>
            <br />
            <div class="sermons-grid-wrap">
                <div class="sermons-grid">
                    <div class="sermon-grid-comp" data-ng-repeat="ser in sermons">
                        <a data-ng-href="{{GetSermonURL(ser.ID)}}">
                            <div class="sermons-art">
                                <img src="#" data-ng-src="{{ser.SmallArt ? ser.SmallArt : (serie.SmallArt ? serie.SmallArt : '')}}" alt="" />
                                <div class="grid-type">
                                    <span class="name">{{ser.Name}}</span>
                                    <span class="date">({{ser.On | dateCustom}})</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</body>
</html>-->
