<content-page-template pagename="services"></content-page-template>
<div class="content main_content">
    <div data-ng-bind-html="page.content"></div>
    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="500" height="400" src="https://maps.google.com/maps?hl=en&q=hotel royal reve&ie=UTF8&t=m&z=25&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">									embed google map							</a></small></div><div><small><a href="http://googlemapsgenerator.com/">Google maps generator</a></small></div></iframe>
    <br/>
</div>
